@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --grid-color: rgba(0, 0, 0, 0.05);
  --grid-bg: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
  --grid-color: rgba(255, 255, 255, 0.05);
  --grid-bg: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-mono);
}
